<!DOCTYPE HTML>
<!--
	Urban by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Additional Comparison</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://unpkg.com/simple-statistics@5.0.0/dist/simple-statistics.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="https://code.highcharts.com/stock/highstock.js"></script>
		<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
		<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
		<script src="{{ url_for('static', filename='js/dark-unica.js') }}"></script>

	
	  
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="index.html">HeMoRu LLC<span>Stock Application</span></a></div>
			</header>

		<!-- Nav 
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="generic.html">Company Profile</a></li>
					<li><a href="elements.html">Charts</a></li>
				</ul>
			</nav> -->

		<!-- Main -->
		<div id="main">

				<!-- Section -->
<!--		<section class="wrapper">
				<div class="inner">-->
					<div>
						<header class="align-center">
						<h4>Daily Chart vs S&P index</h4>
	<!--							<div class="col-md-2">
									<h6 id="report-date"></h6>
								</div>   -->  
					</header>
				<div id="container" style="height: 400px; min-width: 310px"></div>

				<button id="button" class="autocompare">Add Stock Chart</button>
				<div id="plot"></div>
				</div>		
<!--			</section>		-->
					<hr>
					<br>
			<div class="row">
				<div class='col-md-4' style="min-width: 150px; height: 25px; margin: 0 auto"></div>
					<div class='col-md-6'>
							<a href="index" class="button" id="index" style="width:80px; font-size:10px;">Home</a>
							<a href="comp_profiles" class="button" id="comp_profiles" style="width:120px; font-size:10px;">Company Profiles</a>
							<a href="monthly" class="button" id="monthly" style="width:100px; font-size:10px;">Monthly Charts</a>
								<!--		<a href="subscribe" class="button" id="subscribe" style="width:100px; font-size:10px;">Supplemental</a>-->
					</div>
				</div>
			
			<br>

			<div class="row">
				<div class ='col-md-2'></div>
				<div class ='col-md-8' style="width:350px;">
					<p> Now that you have a better understanding of the players in the market, lets take a deeper dive into the trends. The chart above shows the rate of return of S&P 500 as compared to the company you have selected.</p>
				</div>			
			</div>


		
		</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/config.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/chart.js') }}"></script>
			
	</body>
</html>